@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Noto+Serif+JP&family=Poppins&family=Rubik:ital,wght@1,300&display=swap');

header{
	display: flex;
	padding: 5px 0px;
	align-items: center;
	justify-content: center;
	background-color: black;
}

header h1 {
	position: relative;
	top: 5px;
	font-family: 'Kanit', sans-serif;
	margin-left: 10px; 
	color: white;
}

#logo{
	width: 100px;
	border-radius: 10px;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	background-color: #161c2a;
	color: white;
	text-align: center;
}